.at_a_glance_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  transform-origin: center;
  transform: scale(1.15);
}

.at_a_glance_grade {
  font-size: 36px;
  margin: 0px;
  font-weight: 500;
}
