.pane_thirds {
  width: 33%;
  min-height: 1100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.config_label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.config_properties_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ncpStatusContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 25px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ncpStatusRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.networkPropertiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  row-gap: 25px;
  width: 80%;
}

.mac_filter_settings {
  height: 574px;
}

.macfilterFlex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
  gap: 10px;
}
